set timeout=5
set default=0

menuentry "POLER-OS v0.20.0-rc (64-bit)" {
    insmod multiboot2
    insmod part_msdos
    insmod elf
    echo "Loading POLER-OS v0.20.0-rc..."
    multiboot2 /boot/poler-os64
    boot
}

menuentry "POLER-OS v0.20.0-rc (64-bit, serial console)" {
    insmod multiboot2
    insmod part_msdos
    insmod elf
    echo "Loading POLER-OS v0.20.0-rc (serial)..."
    multiboot2 /boot/poler-os64 console=serial
    boot
}
