set timeout=3
set default=0

insmod all_video
insmod gfxterm
set gfxmode=1024x768x32,auto
set gfxpayload=keep

menuentry "POLER-OS v0.20.0-rc (GNOME Desktop / Wayland Live)" {
    insmod multiboot2
    insmod part_msdos
    insmod elf
    echo "Loading POLER-OS v0.20.0-rc kernel & GNOME Desktop..."
    multiboot2 /boot/poler-os64 desktop=gnome
    module2 /boot/live-initrd.cpio initrd
    module2 /boot/gnome-rootfs.sfs gnome
    boot
}

menuentry "POLER-OS v0.20.0-rc (KDE Plasma 6 / Live)" {
    insmod multiboot2
    insmod part_msdos
    insmod elf
    echo "Loading POLER-OS v0.20.0-rc (Arch/CachyOS Userspace)..."
    multiboot2 /boot/poler-os64 desktop=plasma
    module2 /boot/live-initrd.cpio initrd
    boot
}

menuentry "POLER-OS v0.20.0-rc (Minimal POSIX Shell / Serial)" {
    insmod multiboot2
    insmod part_msdos
    insmod elf
    echo "Loading POLER-OS v0.20.0-rc (serial)..."
    multiboot2 /boot/poler-os64 console=serial desktop=sh
    module2 /boot/live-initrd.cpio initrd
    boot
}

